<nav class=" {{this.fixed?'navbar navbar-expand-lg fixed':'navbar navbar-expand-lg'}}">
    <a  href="#">
        <img src="../../../assets/logo.jpg" alt="logo data school bolivia" class="ms-4" width="140" height="70">
    </a>
    <button [ngClass]="{btn:true, toggle:true}" (click)="showNavbar()">
        <mat-icon color="FFF">menu</mat-icon>
    </button>
    <div class="collapse-lg">
        <ul class="navbar-nav">
            <li>
                <a routerLink="/">INICIO</a>
            </li>

            <li>
                <a routerLink="about">NOSOTROS</a>
            </li>
            <li>
                <a routerLink="cursos">CURSOS</a>
            </li>
            <li>
                <a routerLink="contacto">CONTÁCTANOS</a>
            </li>
        </ul>
    </div>
    <div [ngClass]="{collap:true, show:this.show}" (click)="closeNavbar()">
        <ul class="navbar-nav flex-column nav-lg">
            <li class="route-style">
                <a routerLink="home">INICIO</a>
            </li>

            <li class="route-style">
                <a routerLink="about">NOSOTROS</a>
            </li>
            <li class="route-style">
                <a routerLink="courses">CURSOS</a>
            </li>
            <li class="route-style">
                <a routerLink="contact">CONTÁCTANOS</a>
            </li>
        </ul>
    </div>
</nav>