nav {
    background-color: #001d3d;
}

li {
    margin: 0 20px;
    font-weight: bold;
    list-style: none;

    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

.toggle {
    background-color: #001d3d;
    position: absolute;
    right: 20px;
    width: 70px;
    height: 70px;
    display: none;

    mat-icon {
        color: white;
        font-size: 2.5em;
        width: 100%;
        display: none;
        height: 100%;

    }
}


@import "../../../../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../../../../node_modules/bootstrap/scss/functions";


// Required
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
    .collap {
        
        position: absolute;
        top: 100%;
        background-color: #001d3d;
        padding: 10px auto;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    li {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }

    .toggle {
        display: block;
        mat-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
.show{

    transform: translateX(0%);
    transition: transform 1s;
}

}