<mat-card class="shadow w-100 rounded-5 overflow-hidden my-4">
    <div class="position-relative">
        <img class="img-fluid" src="{{this.curso.banner}}" alt="Photo of a Shiba Inu">
        <span class="badge">
            Curso
        </span>
        <span class="badge">
            Online
        </span>
        <span class="badge">
            90% práctico
        </span>
    </div>
    <mat-card-footer>
        <mat-card-title>
            <h5>
                <a routerLink="/curso/{{this.curso.url}}">{{this.curso.nombre}}</a>
            </h5>
        </mat-card-title>

    </mat-card-footer>
    <mat-card-actions>
        <a routerLink="/curso/{{this.curso.url}}" class="btn btn-comprar">
            <div>
                <mat-icon>shopping_cart</mat-icon>
                COMPRAR
            </div>
            <span>
                {{this.curso.costo}} $
            </span>
        </a>
    </mat-card-actions>
</mat-card>