<mat-card class="shadow w-100 rounded-5 overflow-hidden my-4">
    <div class="position-relative">
        <img class="img-fluid" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <span class="badge">
            Curso
        </span>
        <span class="badge">
            Online
        </span>
        <span class="badge">
            90% práctico
        </span>
    </div>
    <mat-card-footer>
        <mat-card-title>
            <h5>
                <a routerLink="/curso/1">DATABRICKS</a>
            </h5>
        </mat-card-title>

    </mat-card-footer>
    <mat-card-actions>
        <a routerLink="/curso/2" class="btn btn-comprar">
            <div>
                <mat-icon>shopping_cart</mat-icon>
            COMPRAR 
            </div>
            <span>
                100$
            </span>
        </a>
    </mat-card-actions>
</mat-card>