<footer class="container-fluid p-0">
    <div class="row p-0 m-0">
        <div class="col-3 logo-edit">
            <img src="../../../assets/logo-png.png" alt="logo-sin-fondo" class="d-block w-75 mx-auto my-3">
        </div>
        <div class="col-2">
            <h4>
                Contáctanos
            </h4>
            <a href="#">WhatsApp</a>
            <a href="#">Correo</a>
        </div>
        <div class="col-2">
            <h4>
                Organización
            </h4>
        </div>
        <div class="col-2">
            <h4>
                Más información
            </h4>
        </div>
        <div class="col-3 d-flex align-items-center">
            <a href="" class="refs">
                <i class='fab fa-facebook-f'></i>
            </a>
            <a href="#" class="refs">
                <i class='fab fa-linkedin-in'></i>
            </a>
            <a href="" class="refs">
                <i class='fab fa-whatsapp'></i>
            </a>
        </div>

    </div>
    <div class="w-100 copyright">
        <p class=" m-0 p-0">
            Copyright 2023 Data School Bolivia
        </p>
    </div>
</footer>