<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-7 offset-lg-1">
            <h2>Sé un experto en</h2>
            <div class="typer">

                <h3>
                    {{this.phrases[this.pPosition]}}
                </h3>
            </div>
            <h2>
                Descubre los cursos que tenemos para tí.
            </h2>
            <hr>
            <p class="fw-bold fs-5">
                Miles de estudiantes han mejorado sus habilidades técnicas con DSRP. !Sé el siguiente!
            </p>
            <div class="d-flex justify-content-evenly w-100">
                <button class="btn custom-btn">Empezar Ahora</button>
                <button class="btn custom-btn">Contactarse por Información</button>
            </div>
        </div>
        <div class="col-12 my-4">
            <div class="presentation">
                <hr class="hr-custom">
                <h2 class="px-4">
                    Somos una empresa 100% confiable
                </h2>
                <hr class="hr-custom">
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row">
            asdfasdf
        </div>
    </section>
</div>