<section class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="title">
                <img src="http://drive.google.com/uc?export=view&id=18I0w2dPNT_UL4XD62rZGwBSalraIIWD-" alt="">
                <h1>
                    DATA SCIENCE
                </h1>
            </div>
            <div class="actions">
                <button class="btn" (click)="downloadPdf()">
                    Descargar Brouchure
                </button>
                <div class="buy">
                    <button class="btn">
                        <div class="price">
                            50.00$
                        </div>
                        <span>
                            Comprar
                        </span>
                    </button>
                    <p>
                        Precio Normal 100.00$
                    </p>
                </div>
            </div>
            <div class="info">
                <h3>
                    Acerca del Curso
                </h3>
                <p>
                    Databricks se ha convertido en una de las plataformas más importantes compatible con Azure, AWS y
                    Google
                    Cloud. Esto hace que Databricks sea una de las habilidades más demandadas para los ingenieros de
                    datos y
                    unas de las habilidades más valiosas hoy en día.
                </p>
                <h3>
                    ¿Qué necesito?
                </h3>
                <p>
                    En esta asignatura se requiere tener ganas de aprender y tener claro el alcance del curso.
                </p>
            </div>
            <div class="topics">
                <h3>
                    ¿Qué temas voy a aprender?
                </h3>
                <mat-vertical-stepper headerPosition="bottom" #stepper>
                    <ng-template matStepperIcon="edit">
                        <mat-icon>done</mat-icon>
                    </ng-template>
                    <mat-step>
                        <ng-template matStepLabel>
                            <h5>
                                DATABRICKS CON AZURE
                            </h5>
                        </ng-template>
                        <div>
                            <ol>
                                <li>
                                    Introducción a Databricks con Azure
                                </li>
                                <li>
                                    Azure Databricks cluster
                                </li>
                                <li>
                                    Azure Databricks notebooks
                                </li>
                                <li>
                                    Azure CLI
                                </li>
                            </ol>
                        </div>
                    </mat-step>
                    <ng-template matStepperIcon="edit">
                        <mat-icon>done</mat-icon>
                    </ng-template>
                    <mat-step label="Antes de começar...">
                        <div>
                        </div>
                    </mat-step>
                    <ng-template matStepperIcon="edit">
                        <mat-icon>done</mat-icon>
                    </ng-template>
                    <mat-step label="Antes de começar...">
                        <div>
                        </div>
                    </mat-step>
                    <ng-template matStepperIcon="edit">
                        <mat-icon>done</mat-icon>
                    </ng-template>
                    <mat-step label="Antes de começar...">
                        <div>
                        </div>
                    </mat-step>
                    <ng-template matStepperIcon="edit">
                        <mat-icon>done</mat-icon>
                    </ng-template>
                    <mat-step label="Antes de começar...">
                        <div>
                        </div>
                    </mat-step>

                </mat-vertical-stepper>
            </div>
        </div>
        <div class="col-12 col-lg-4 my-3">
            <div class="row">
                <div class="col-12">
                    <div class="position-relative">
                        <img src="https://wallpaperaccess.com/full/1728956.jpg" alt="fondo"
                            class="img-fluid rounded-3 overflow-hidden p-3 video">
                        <mat-icon class="play">play_arrow</mat-icon>
                    </div>
                </div>
                <div class="col-12 shadow rounded-3 overflow-hidden my-3">
                    <div class="row">
                        <div class="col-4 header">Inicio</div>
                        <div class="col-4 header">Días</div>
                        <div class="col-4 header">Hora</div>
                        <div class="col-4 info">Miércoles, 30 de septiembre</div>
                        <div class="col-4 info">Lunes, Miércoles, Sábados</div>
                        <div class="col-4 info">20:00 a 22:00</div>
                        <div class="col-8 offset-2">
                            <button class="btn btn-ins">Inscríbete ahora</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>