<section class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="title">
                <img src="http://drive.google.com/uc?export=view&id=18I0w2dPNT_UL4XD62rZGwBSalraIIWD-" alt="">
                <h1>
                    {{this.curso.nombre}}
                </h1>
            </div>
            <div class="actions">
                <button class="btn" (click)="downloadPdf()">
                    Descargar Brouchure
                </button>
                <div class="buy">
                    <button class="btn">
                        <div class="price">
                            {{this.curso.costo}} $
                        </div>
                        <span>
                            Comprar
                        </span>
                    </button>
                    <p>
                        Precio Normal 100.00$
                    </p>
                </div>
            </div>
            <div class="info">
                <h3 class="mt-3">
                    Acerca del Curso
                </h3>
                <p>
                    {{this.curso.descripcion}}
                </p>
                <h3 class="mt-3">
                    ¿Qué necesito?
                </h3>
                <p>
                    {{this.curso.requisitos}}
                </p>
            </div>
            <div class="topics">
                <h3>
                    ¿Qué temas voy a aprender?
                </h3>
                <mat-vertical-stepper headerPosition="bottom" #stepper>
                    <div *ngFor="let val of this.curso.aprendizaje">
                        <ng-template matStepperIcon="edit">
                            <mat-icon>done</mat-icon>
                        </ng-template>
                        <mat-step>
                            <ng-template matStepLabel>
                                <h5>
                                    {{this.val.tema}}
                                </h5>
                            </ng-template>
                            <div>
                                <ol>
                                    <li *ngFor="let subtema of this.val.subtemas">
                                        {{this.subtema}}
                                    </li>
                                </ol>
                            </div>
                        </mat-step>
                    </div>

                </mat-vertical-stepper>

            </div>
        </div>
        <div class="col-12 col-lg-4 my-3">
            <div class="row">
                <div class="col-12">
                    <div class="position-relative">
                        <img src="{{this.curso.banner}}" alt="fondo"
                            class="img-fluid rounded-3 overflow-hidden p-3 video">
                        <mat-icon class="play">play_arrow</mat-icon>
                    </div>
                </div>
                <div class="col-12 shadow rounded-3 overflow-hidden my-3">
                    <div class="row">
                        <div class="col-4 header">Inicio</div>
                        <div class="col-4 header">Días</div>
                        <div class="col-4 header">Hora</div>
                        <div class="col-4 info">Miércoles, 30 de septiembre</div>
                        <div class="col-4 info">Lunes, Miércoles, Sábados</div>
                        <div class="col-4 info">20:00 a 22:00</div>
                        <div class="col-8 offset-2">
                            <button class="btn btn-ins">Inscríbete ahora</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>